@model Fall2023_Assignment4.Models.RequestDetailViewModel


@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Restaurants</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                ImageUrl
            </th>
            <th>
                Rating
            </th>
            <th>
                Price
            </th>
            <th>
                PhoneNumber
            </th>
            <th>
                CategoryTitle
            </th>
            <th>
                ReviewCount
            </th>

            <th>
                model.City
            </th>
            <th>
                IsOpenNow
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Restaurants)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @if (item.ImageUrl != null)
                    {
                        <img src="@item.ImageUrl" width="200" height="200" />
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rating)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryTitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReviewCount)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.City)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsOpenNow)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div id="chartContainer" style="height: 370px; width: 100%;"></div>


@section Scripts{
    <script>
        var chartContainer = document.getElementById('chartContainer');
        if (chartContainer) {
            //var dataa = @Html.Raw(Json.Serialize(Model.PriceData));
            //var dataString = Json.parse(dataa);
            var data = @Html.Raw(Model.PriceData);
            var priceData = []
            for (var key in data) {
                if (data.hasOwnProperty(key)) {
                    priceData.push({
                        label: key,
                        y: data[key]
                    });
                }
            }

            var chart = new CanvasJS.Chart("chartContainer", {
                animationEnabled: true,
                theme: "light2",
                exportEnabled: true,
                title: {
                    text: "Restaurant Prices"
                },
                axisY: {
                    title: "No. of Restaurants"
                },
                data: [{
                    type: "column",
                    dataPoints: priceData
                }]
            });
            chart.render();
        }
    </script>

}
